In [127]:
import pandas as pd
import numpy as np

In [128]:
dt=pd.read_csv('movies.csv')
dt.head(1)

   index     budget  ...                                               crew       director
0      0  237000000  ...  [{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...  James Cameron

[1 rows x 24 columns]

In [129]:
#genres
#id
#keywords
#title
#overview
#cast
#crew

dt=dt[['genres','id','keywords','title','overview','cast','crew']]

In [130]:
dt.isnull().sum()
dt.dropna(inplace=True)
dt.isnull().sum()

genres      0
id          0
keywords    0
title       0
overview    0
cast        0
crew        0
dtype: int64

In [131]:
dt.duplicated().sum()

np.int64(0)

In [132]:
dt.head(1)

                                     genres  ...                                               crew
0  Action Adventure Fantasy Science Fiction  ...  [{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...

[1 rows x 7 columns]

In [133]:
import ast
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [134]:
def convert3(obj):
    L=[]
    counter =0
    for i in ast.literal_eval(obj):
         if counter != 3:
            L.append(i['name'])
            counter +=1
         else:
           break
    return L

In [135]:
dt['crew']=dt['crew'].apply(convert3)

In [136]:
dt['keywords'].head()

0    culture clash future space war space colony so...
1    ocean drug abuse exotic island east india trad...
2           spy based on novel secret agent sequel mi6
3    dc comics crime fighter terrorist secret ident...
4    based on novel mars medallion space travel pri...
Name: keywords, dtype: object

In [137]:
dt.head(1)

                                     genres  ...                                               crew
0  Action Adventure Fantasy Science Fiction  ...  [Stephen E. Rivkin, Rick Carter, Christopher B...

[1 rows x 7 columns]

In [138]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
          L.append(i['name'])
        break
    return L

In [139]:
dt['overview'] = dt['overview'].apply(lambda x: [x])
dt['genres'] = dt['genres'].apply(lambda x: [x])
dt['keywords'] = dt['keywords'].apply(lambda x: [x])
dt['cast'] = dt['cast'].apply(lambda x: [x])

In [140]:
dt['tags']=dt['genres']+dt['keywords']+dt['overview']+dt['cast']+dt['crew']

In [141]:
dt

                                          genres  ...                                               tags
0     [Action Adventure Fantasy Science Fiction]  ...  [Action Adventure Fantasy Science Fiction, cul...
1                     [Adventure Fantasy Action]  ...  [Adventure Fantasy Action, ocean drug abuse ex...
2                       [Action Adventure Crime]  ...  [Action Adventure Crime, spy based on novel se...
3                  [Action Crime Drama Thriller]  ...  [Action Crime Drama Thriller, dc comics crime ...
4             [Action Adventure Science Fiction]  ...  [Action Adventure Science Fiction, based on no...
...                                          ...  ...                                                ...
4795                                     [Drama]  ...  [Drama, gang audition police fake homeless act...
4796            [Science Fiction Drama Thriller]  ...  [Science Fiction Drama Thriller, distrust gara...
4798                     [Action Crime Thriller]  ...  [Action Crime Thriller, united states\u2013mex...
4800             [Comedy Drama Romance TV Movie]  ...  [Comedy Drama Romance TV Movie, date love at f...
4802                               [Documentary]  ...  [Documentary, obsession camcorder crush dream ...

[4378 rows x 8 columns]

In [142]:
new_df=dt[['id','title','tags']]

In [143]:
new_df

          id                                     title                                               tags
0      19995                                    Avatar  [Action Adventure Fantasy Science Fiction, cul...
1        285  Pirates of the Caribbean: At World's End  [Adventure Fantasy Action, ocean drug abuse ex...
2     206647                                   Spectre  [Action Adventure Crime, spy based on novel se...
3      49026                     The Dark Knight Rises  [Action Crime Drama Thriller, dc comics crime ...
4      49529                               John Carter  [Action Adventure Science Fiction, based on no...
...      ...                                       ...                                                ...
4795  124606                                      Bang  [Drama, gang audition police fake homeless act...
4796   14337                                    Primer  [Science Fiction Drama Thriller, distrust gara...
4798    9367                               El Mariachi  [Action Crime Thriller, united states\u2013mex...
4800  231617                 Signed, Sealed, Delivered  [Comedy Drama Romance TV Movie, date love at f...
4802   25975                         My Date with Drew  [Documentary, obsession camcorder crush dream ...

[4378 rows x 3 columns]

In [144]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
def stem(text):
    y=[]
    for i in text:
        y.append(ps.stem(i))
    return " ".join(y)

In [145]:
new_df['tags'] = dt['tags'].apply(stem)

C:\Users\ranar\AppData\Local\Temp\ipykernel_10040\1916235815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = dt['tags'].apply(stem)

In [146]:
new_df['tags'] = dt['tags'].astype(str)

C:\Users\ranar\AppData\Local\Temp\ipykernel_10040\901204120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = dt['tags'].astype(str)

In [147]:
new_df

          id                                     title                                               tags
0      19995                                    Avatar  ['Action Adventure Fantasy Science Fiction', '...
1        285  Pirates of the Caribbean: At World's End  ['Adventure Fantasy Action', "ocean drug abuse...
2     206647                                   Spectre  ['Action Adventure Crime', 'spy based on novel...
3      49026                     The Dark Knight Rises  ['Action Crime Drama Thriller', 'dc comics cri...
4      49529                               John Carter  ['Action Adventure Science Fiction', 'based on...
...      ...                                       ...                                                ...
4795  124606                                      Bang  ['Drama', 'gang audition police fake homeless ...
4796   14337                                    Primer  ['Science Fiction Drama Thriller', 'distrust g...
4798    9367                               El Mariachi  ['Action Crime Thriller', 'united states\\u201...
4800  231617                 Signed, Sealed, Delivered  ['Comedy Drama Romance TV Movie', 'date love a...
4802   25975                         My Date with Drew  ['Documentary', 'obsession camcorder crush dre...

[4378 rows x 3 columns]

In [159]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()

similarity = cosine_similarity(vectors)

In [160]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zoo', 'zooey', 'zucker'], dtype=object)

In [161]:
similarity[1]

array([0.06741999, 1.        , 0.0439587 , ..., 0.03615508, 0.04020151,
       0.        ])

In [166]:
def recommender(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:6]
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [167]:
recommender("Avatar")

Lost in Space
Guardians of the Galaxy
Moonraker
Lifeforce
Titan A.E.